@page
@model WebApp.Pages.Health.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Information.Workout" class="control-label"></label>
                <input asp-for="Information.Workout" class="form-control" />
                <span asp-validation-for="Information.Workout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Information.Calories" class="control-label"></label>
                <input asp-for="Information.Calories" class="form-control" />
                <span asp-validation-for="Information.Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Information.Protein" class="control-label"></label>
                <input asp-for="Information.Protein" class="form-control" />
                <span asp-validation-for="Information.Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Information.Fat" class="control-label"></label>
                <input asp-for="Information.Fat" class="form-control" />
                <span asp-validation-for="Information.Fat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Information.Carbs" class="control-label"></label>
                <input asp-for="Information.Carbs" class="form-control" />
                <span asp-validation-for="Information.Carbs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
