@page
@model WebApp.Pages.Account.EditModel

@{
    ViewData["Title"] = "Edit";
}

<style>
    body {
        background: #011628;
        font-family: 'Poppins';
    }
</style>

<h1 class="text-white">Редaктиране</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Person.Id" />
            <div class="form-group">
                <label asp-for="Person.Name" class="control-label text-white"></label>
                <input asp-for="Person.Name" class="form-control" />
                <span asp-validation-for="Person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Age" class="control-label text-white"></label>
                <input asp-for="Person.Age" class="form-control" />
                <span asp-validation-for="Person.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Height" class="control-label text-white"></label>
                <input asp-for="Person.Height" class="form-control" />
                <span asp-validation-for="Person.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Weight" class="control-label text-white"></label>
                <input asp-for="Person.Weight" class="form-control" />
                <span asp-validation-for="Person.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Gender" class="control-label text-white"></label>
                <input asp-for="Person.Gender" class="form-control" />
                <span asp-validation-for="Person.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BirthDate" class="control-label text-white"></label>
                <input asp-for="Person.BirthDate" class="form-control" />
                <span asp-validation-for="Person.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-outline-secondary">Go back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
