@page
@model WebApp.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Index";
}
<style>
    body{
        background:cadetblue;
    }
</style>
<h1>Създай Акаунт</h1>

<p>
    <a asp-page="Create">Create Acount</a>
</p>


@foreach (var item in Model.Person) {
       
            <div style="font-size:70px;">      
                <a asp-page="./Details" asp-route-id="@item.Id" class="linkbutton">Details</a> 
            </div>

}
   